$product-blue: #009fe8;

/* Color */
.text-blue {
  color: $product-blue !important;
}
.bg-blue {
  background-color: $product-blue !important;
}
.border-blue {
  border-color: $product-blue !important;
}

/* Width */
.w-90 {
  width: 90% !important;
}
.w-45 {
  width: 45% !important;
}
.w-35 {
  width: 35% !important;
}

/* Ellipsis */
.ellipsis-1, .ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
.ellipsis-2 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Font-size */
.fs-7 {
  font-size: 0.75rem !important;
}

/* Letter-spacing */
.ls-0 {
  letter-spacing: 0 !important;
}
.ls-1 {
  letter-spacing: 0.25rem !important;
}

/* Button */
.btn {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #fff;
  background-color: #009fe8;
  border: none;
  border-radius: 50rem;
  cursor: pointer;
}